.app {
  padding: 5px
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.budget {
  border: 5px solid black;
  padding: 5px
}

.budget-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 20px
}

.transaction-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 10px

}

.transaction {
  padding: 10px;
  border: 1px solid black

}

button {
  color: white;
  background-color: blue;
  border-radius: 10px;
  padding: 3px;
}

button:hover {
  background-color: lightblue;
}

.error-message {
  color: red
}